apiVersion: traefik.io/v1alpha1
kind: ServersTransport
metadata:
  name: cilium-hubble
  namespace: kube-system
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  serverName: cilium-hubble
  insecureSkipVerify: true