apiVersion: traefik.io/v1alpha1
kind: ServersTransport
metadata:
  name: prometheus
  namespace: monitoring
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  serverName: prometheus
  insecureSkipVerify: true