mariadb:
  metrics:
    enabled: true
  rootPasswordSecretKeyRef:
    name: mariadb-root-pwd
    key: root-password
  storage:
    storageClassName: local-path
    size: 10Gi
  replicas: 3
  galera:
    enabled: true
    config:
      volumeClaimTemplate:
        storageClassName: local-path
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 1Gi
    wsrep:
      gcache_size: 1G
    agent:
      gracefulShutdownTimeout: 10s
    providerOptions:
      "pc.recovery": "true"
      "pc.wait_prim": "false"  # Non aspettare il primary component indefinitamente
      "pc.wait_prim_timeout": PT30S
      "pc.ignore_sb": "false"
      "evs.auto_evict": "1"
      "evs.suspect_timeout": PT10S
      "evs.inactive_timeout": PT30S
      "evs.install_timeout": PT30S
    extraConfig: |
      [mysqld]
      expire_logs_days=1
      max_binlog_size=100M