apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: security
  namespace: traefik
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  headers:
    frameDeny: true
    sslRedirect: true
    browserXssFilter: true
    contentTypeNosniff: true
    stsIncludeSubdomains: true
    stsPreload: true
    stsSeconds: 31536000
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: security-ceph-dashboard
  namespace: traefik
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  headers:
    frameDeny: true
    sslRedirect: true
    browserXssFilter: true
    contentTypeNosniff: true
    stsIncludeSubdomains: true
    stsPreload: true
    stsSeconds: 31536000
    customFrameOptionsValue: "allow-from https://grafana.urbaman.cloud"